html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

body {
  background: #000;
  color: #fff;
  height: auto;
  min-height: 100%;
  overflow: hidden;
}

main {
  background: #000;
  padding: 1rem;
  max-width: 100%;
  margin: 0 auto;
  animation: mymove 30s infinite;
}

.header {
  align-items: center;
  color: orange;
}

h1 {
  justify-content: center;
  display: flex;
  text-align: center;
  line-height: 1.3;
  font-size: 5vw;
  margin: 1rem 0;
}
h3 {
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 4vw;
  margin: 1rem 0;
}
h2 {
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 4vw;
  margin: 1rem 0;
}

.container {
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 100%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(16deg);




  /* animation-delay: 3s;
  animation-timing-function: ease;
  transform-origin: top center;
  transform-style: preserve-3d;
  transform: perspective(300px) rotateX(25deg);
  animation-duration: 4s;

  animation: inherit;
  animation-name: cinematic; */
}

@keyframes mymove {
  from {
    bottom: -1000px;
  }

  to {

    bottom: 1650px;
  }
}
